<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>M-Tech in Computer Engineering</h1>
            <span>Punjabi University Patiala</span>
            <span><address>Punjab, India</address><time>2012 to 2014</time></span>
        </header>
        <p>
            <em>Disserttation Project : Analysis of Ant Colony Optimization based protocols in MANETs</em>
        </p>
        <p>
            <em>Minor Project : Segmentation and image inhancement</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B-Tech in Computer Engineering</h1>
            <span>Punjabi University Patiala</span>
            <span><address>Punjab, India</address><time>2016 to 2010</time></span>
        </header>
        <p>
            <em>Dissertation Project : Wired and Wireless communication(Six months)</em>
        </p>                        
    </article>    
</section>
