<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Junior Machine Learning Engineer</h1>
            <span><address>Integrify, Finland</address><time>2020 to </time></span>
            <p>Currently I am on 6-month-long training program in Machine Learning with Python at Integrify.
             I am working in Python, Scikit-learn, and TensorFlow among others to tackle real-life challenges. 
             </p>
        </header>
        <header>
            <h1>Database Security</h1>
            <span><address>Rular Dynasty Info-tech Pvt Ltd.</address><time>2016 to 2019</time></span>
            
        </header>        
    </article>
    <article>
        <header>
            <h1>Assistant Professor</h1>
            <span><address>Guru Nanak Dev University, Amritsar, India</address><time>2015 to 2016</time></span>
            <p>Subject taugh:- Data Mining, Operation Research, Artificial Intelligence, Proagrammin Language (C & C++), 
                Relational Database Management System
            </p>
        </header>        
    </article>
    <article>
        <header>
            <h1>Junior Database Developer</h1>
            <span><address>Dexterous Technologies Pvt Ltd. Amritsar, India</address><time>2010 to 2012</time></span>
        </header>        
    </article>    
</section>
