<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Database Security</h1>
            <span><address>Rular Dynasty Info-tech Pvt Ltd.</address><time>2016 to 2019</time></span>
        </header>        
    </article>
    <article>
        <header>
            <h1>Assistant Professor</h1>
            <span><address>Guru Nanak Dev University, Amritsar, India</address><time>2015 to 2016</time></span>
        </header>        
    </article>
    <article>
        <header>
            <h1>Junior Web Developer</h1>
            <span><address>Dexterous Technologies Pvt Ltd. Amritsar, India</address><time>2010 to 2012</time></span>
        </header>        
    </article>    
</section>
