<section class="thirteen columns">
    <h1>Conferences and Publications</h1>
    <article>
        <header>
            <h1>Tasbir Singh et al "Analysis of Ant Colony Optimization Based Protocols in MANETs",
                Published in International Journal of Advanced Research in Computer Science and Software
                Engineering, Volume 4, pp 597-601, ISSN: 2277 128X, August 2014
            </h1>            
        </header>
        <header>
            <h1>An abstract has been submitted a Review artical on "Social Networking sites ans security issues" in 
                national seminar on "Futuristic Approach to Ethical Hacking and Networking Security" and have also 
                present a paper in the national seminar.
            </h1>            
        </header>
    </article>
    </section>